.wrapper {
    flex-grow: 1;
    padding: 3em;
    border: 3px solid red;
}

.projectionContainer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: var(--spacingXL);
    right: var(--spacingXL);

    border: 1px solid green;
}

.projectionIcon {
    color: white;
}