/* Variable definitions */
:root {
    --spacingS: 4px;
    --spacingM: 6px;
    --spacingL: 8px;
    --spacingXL: 12px;
    --spacingXXL: 20px;
    --textHover: color-mix(in hsl, var(--text) 50%, var(--highlight01) 50%);

    --highlight01: darkorange;
    --highlight02: darkcyan;
    --highlight03: darkmagenta;

    --text: #e1e1e1;
    --text-darker: color-mix(in hsl, var(--text) 50%, var(--highlight01) 50%);

    --dark-primary: #121212;
    --dark-secondary: color-mix(in hsl, var(--dark-primary) 92%, white 8%);
    --dark-tertiary: color-mix(in hsl, var(--dark-primary) 86%, white 14%);

    --background01: color-mix(
        in hsl,
        var(--dark-primary) 92%,
        var(--highlight01) 8%
    );
    --background02: color-mix(
        in hsl,
        var(--dark-primary) 86%,
        var(--highlight01) 14%
    );
    --background03: color-mix(
        in hsl,
        var(--dark-primary) 80%,
        var(--highlight01) 20%
    );
    --background04: color-mix(
        in hsl,
        var(--dark-primary) 60%,
        var(--highlight01) 40%
    );
}

/* Common elements */
* {
    scrollbar-width: thin;
    scrollbar-color: #cc7000 transparent;
}

html,
body,
#root {
    overflow: auto;
    height: 100%;
}

a {
    color: var(--highlight02);
}
a:hover {
    color: var(--highlight01);
}

body {
    margin: 0;
    line-height: 1.5;
    font-family:
        system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;

    color: var(--text01);
    background: var(--background02);
}

#root {
    display: flex;
    flex-direction: column;
}

.top-level-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.revealed {
    background: repeating-linear-gradient(
        45deg,
        #ffc2aa,
        #ffc2aa 20px,
        #ffb395 20px,
        #ffb395 40px
    );
    color: var(--background01);
    padding: var(--spacingM) var(--spacingXXL);
    margin: var(--spacingXXL);
    font-style: italic;
    border-radius: 8px;
}
