.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: var(--background01);
    z-index: 0;
}

.overlay {
    position: absolute;
    inset: 0 0 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
}

.heading {
    color: var(--text);
    font-weight: bold;
    font-size: 4rem;
    margin: 0;
}

.subheading {
    color: var(--text);
    font-size: 1.2rem;
    margin: 0;
    width: 40%;
}

.overlay button {
    border-radius: var(--spacingXXL);
    margin-top: var(--spacingXXL);

    border-color: var(--text);
    color: var(--text);

    background-color: var(--background01);
    pointer-events: all;
    cursor: pointer;
}

.overlay button:hover {
    background-color: var(--background03);
    border-color: var(--highlight01);
    color: var(--highlight01);
}