.container {
    display: flex;
    flex-direction: column;
    padding: var(--spacingL) var(--spacingL) var(--spacingL) var(--spacingXL);
    background-color: var(--background02);

    width: 12.5rem;
    min-width: 12.5rem;
    border-width: 0 2px 0 0;
    border-style: solid;
    border-image: linear-gradient(180deg, var(--highlight01), var(--highlight03)) 1;
    
    overflow-y: auto;
    scrollbar-gutter: stable;

    z-index: 999;
}

.linkItem {
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: var(--spacingL);
    margin-top: var(--spacingS);
    color: var(--text);
    background-color: var(--background03);
    cursor: pointer;
    height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.linkItem:hover {
    color: var(--textHover);
    background-color: var(--background01);
}


.groupItem {
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: var(--spacingL);
    margin-top: var(--spacingS);
    color: var(--text-darker);
    background-color: var(--background03);
    height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media all and (max-height: 850px) {
    .linkItem {
        height: 0.85rem;
    }
}

.linkIcon {
    font-size: 1.25rem !important;
    padding-right: var(--spacingM);
}

.linkCollapser {
    margin-left: auto;
    z-index: 1;
}

@media screen and (max-width: 1200px) {
    .container {
        position: absolute;
        top: 3rem;
        left: 0;
        bottom: 0;
        width: calc(100% - var(--spacingL) - var(--spacingL));
    }

}